<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cr.ac.unadeca.galeriafrank">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:name="cr.ac.unadeca.galeriafrank.database.GaleriaApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/galeriafrank"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="ExtraText">

        <activity
            android:name="cr.ac.unadeca.galeriafrank.activities.MainActivity"
            android:label="@string/galeriafrank"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="cr.ac.unadeca.galeriafrank.activities.RegisterActivity"
            android:label="@string/app_register"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
                android:name="cr.ac.unadeca.galeriafrank.activities.LoginActivity"
            android:label="@string/app_login"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="cr.ac.unadeca.galeriafrank.activities.ImagenGrande"
        android:label="@string/ImagenPrevia"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
        android:parentActivityName="cr.ac.unadeca.galeriafrank.activities.MainActivity"
        tools:ignore="UnusedAttribute">
        <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="cr.ac.unadeca.galeriafrank.activities.MainActivity"/>
    </activity>

        <activity android:name="cr.ac.unadeca.galeriafrank.activities.AgregarImagenActivity"
        android:label="@string/agregarimagen"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
        android:parentActivityName="cr.ac.unadeca.galeriafrank.activities.MainActivity"
        tools:ignore="UnusedAttribute">
        <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="cr.ac.unadeca.galeriafrank.activities.MainActivity" />
    </activity>
    </application>

</manifest>